---
title: About Us | Desert Tropics Custom Pools
subtitle: Make your pool building experience a positive one.
active: About Us
permalink: /about/about-us/
layout: page-template
comments: false
nav_background_image: /assets/images/slider/swiper/2.jpg
img_position: center -620px
description: Desert Tropics Custom Pools, Arizona
---

{% include page-title.html %}

<section id="content" class="about-page">
  <div class="content-wrap">
    <div class="container clearfix nobottommargin">

      <div class="col_two_third nobottommargin">
        <p>Desert Tropics Custom Pools has been building pools in the Valley since 2001. Our President is also the Qualifying Party for our license. We don’t strive to build the most pools in the Valley, though we do strive to build the best pools in the Valley. We never use a template to put a pool in your yard. Each pool is custom designed by a professional, to meet your lifestyle and enhance the value of your home and your everyday enjoyment. We know all of our customers by name and our staff is dedicated to making sure that your needs are met. Most of our business comes to us by referral, and we strive to give every customer the best experience possible.</p>
        <p>Our designers, Doug Slater and Deane Wilde have more than 30 years of combined experience in the Arizona swimming pool industry. Each of them oversees their projects from conception all the way thru to completion. So you never have to be concerned about being "handed off" to a company employee, or worse, to an outside contractor following the sale.</p>
        <p>Our personal approach to pool building ensures continuity throughout the process, allowing you to relax in knowing your project will turn out exactly as you had envisioned. </p>
      </div>

      <div class="col_one_third nobottommargin col_last">
        <div style="position: relative;" data-height-lg="415" data-height-md="342" data-height-sm="238" data-height-xs="216" data-height-xxs="101">

          <img data-animate="fadeInLeft" src="{{ site.baseurl }}/assets/images/desert-tropics-images/pool_designers.jpg" alt="Desert Tropics Pools Designers" style="position: absolute; top: 0; left: 0; box-shadow: 0px 0px 10px rgba(0,0,0,.5);">

          <img data-animate="fadeInUp" data-delay="600" src="{{ site.baseurl }}/assets/images/desert-tropics-images/desert-tropics-avatar-lg.png" alt="Desert Tropics Logo" class="hidden-xs adjust-parrot">
        </div>
      </div>
    </div>

    <div class="section parallax about-parallax-feature" data-stellar-background-ratio="0.3">
      <div class="heading-block center nobottomborder nobottommargin">
        <h6 style="color:#fff; font-size:20px; line-height:40px; padding:0 15%; text-shadow: 1px 1px 10px rgba(0,0,0,0.85) !important;">
          At Desert Tropics Pools we strive to understand our customers' dreams, desires and vision for the design and function of their swimming pools and outdoor environment. While the custom design is the foundation for a superior experience, please take the time to review some frequently asked questions and inspiring ideas for optimizing your experience building your own custom swimming pool.
        </h6>
      </div>
    </div>

    <div class="container clearfix bottommargin">
      <div class="fancy-title title-border">
				<h3>Use this handy checklist while searching for a pool company.</h3>
			</div>

      <div class="accordion accordion-bg bottommargin topmargin clearfix">

				<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Is the company Licensed, Bonded and Insured?</div>
				<div class="acc_content clearfix" style="display: none;">Check with the Registrar of Contractors at <a href="http://www.rc.state.az.us/" target="_blank">http://www.rc.state.az.us/</a> If a builder is not Licensed, there is no recourse through the state of Arizona. This site will also allow you to check any recent complaints. CAUTION: if it is a new pool builder, there may not be ample time in business for complaints to surface. Search under the company name, but also under the names of the principals of the company.</div>

        <div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Is the price substantially lower than other bids?</div>
				<div class="acc_content clearfix" style="display: none;">Newer companies tend to have lower prices for several reasons. Possibly, they don’t have the longevity or experience to know the true costs of running a successful construction business (overhead, warranties, etc.). They may be able to build a nice pool, but will not have the necessary cash reserves to keep the doors open when the business slows down or warranty work eats up their minimal profit. Or, they have no plans to be around 3 years from now.</div>

        <div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Is the pool design professional and comprehensive with measurements that are accurate?</div>
				<div class="acc_content clearfix" style="display: none;">If you are given a sketch that could have been done on the back of a napkin…BEWARE. The same expertise and consideration will be given to the building of your pool.</div>

        <div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Who is the Qualifying Party for the license?</div>
				<div class="acc_content clearfix" style="display: none;">It is important to know that the owner of the company also has the appropriate expertise in the industry and can resolve any issues that may arise during and after the construction of your pool.</div>

        <div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Is the owner of the company accessable?</div>
				<div class="acc_content clearfix" style="display: none;">Ask if you can have the phone number of the owner. This will tell you how much you can trust the company to be accountable for any issues that may arise.</div>

        <div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>How many people will you be dealing with after the contract is signed?</div>
				<div class="acc_content clearfix" style="display: none;">Let’s face it. Salespeople are commissioned and earn their living by getting contracts. It is a good indication that you can trust the integrity of the company to deliver on what was sold if your salesperson is going to be there throughout the process to ensure your satisfaction.</div>

        <div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Is everything you are promised in WRITING and in the contract?</div>
				<div class="acc_content clearfix" style="display: none;">If it isn’t in writing, there is no recourse. The state of Arizona can only enforce what is written in the contract. Read it carefully.</div>

        <div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Is the record with the Better Business Bureau and the Registrar of Contractors clean?</div>
        <div class="acc_content clearfix" style="display: none;">While misunderstandings or defects can always occur during construction, it is how a company responds to the complaint that defines them. If there are any issues, check to make sure they were resolved.</div>

        <div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Is the builder willing to give references?</div>
        <div class="acc_content clearfix" style="display: none;">Any good company will gladly give out a referral list. Be sure to call several different previous customers.</div>

        <div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>How long has the company been in business?</div>
        <div class="acc_content clearfix" style="display: none;">The financial stability and reputation of a company can only be discovered over time.</div>

        <div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Do you feel comfortable with the sales person and the staff?</div>
        <div class="acc_content clearfix" style="display: none;">Trust your intuition after checking out all the facts. If something doesn’t feel right, it probably isn’t.</div>
			</div>
    </div>

    {% include promo-cta-dark.html %}

    <div class="section nomargin footer-stick clearfix">
      <h3 class="uppercase center">What <span>Clients</span> Say?</h3>
      <div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
        <div class="flexslider">
          <div class="slider-wrap">

            <div class="slide">
              <div class="testi-image">
                <i class="i-circled icon-user"></i>
              </div>
              <div class="testi-content">
                <p>I want to thank you and your excellent staff for the wonderful pool experience. All of these people were great to deal with and provided consistent cooperation and quality help. I am very pleased with the pool design and we came very close to the expected completion schedule and right on budget.</p>
                <div class="testi-meta">
                  <span> Robert C. M.</span>
                </div>
              </div>
            </div>

            <div class="slide">
              <div class="testi-image">
                <i class="i-circled icon-user"></i>
              </div>
              <div class="testi-content">
                <p>From the first moment we met with you, and throughout the entire process, we were impressed with the professionalism, attention to detail, and helpful courtesy that you and your entire staff displayed. Each process was finished on schedule, and we watched with awe as the creation before us unfolded.</p>
                <div class="testi-meta">
                  <span> Jody &amp; John D.</span>
                </div>
              </div>
            </div>

            <div class="slide">
              <div class="testi-image">
                <i class="i-circled icon-user"></i>
              </div>
              <div class="testi-content">
                <p>Enjoyed the way you dealt with us. Customer Service is great. We really appreciate you!</p>
                <div class="testi-meta">
                  <span> George &amp; Shannon F.</span>
                </div>
              </div>
            </div>

            <div class="slide">
              <div class="testi-image">
                <i class="i-circled icon-user"></i>
              </div>
              <div class="testi-content">
                <p>Just a few lines to once again express our appreciation for the outstanding job you did in building our pool. Three weeks must be some kind of record. Every crew that came in was professional, knowledgeable and pleasant. All of their work was of the highest quality. The office staff was helpful, courteous and fun to work with. If more pool companies were as honest and reliable and had such a high quality of workmanship, there would be a lot more satisfied pool owners!</p>
                <div class="testi-meta">
                  <span> Chuck &amp; Helen V.</span>
                </div>
              </div>
            </div>

            <div class="slide">
              <div class="testi-image">
                <i class="i-circled icon-user"></i>
              </div>
              <div class="testi-content">
                <p>I just wanted to let you know how much I love my pool. I would like to express my appreciation to you and your employees who made this experience enjoyable.</p>
                <div class="testi-meta">
                  <span> Sharon G.</span>
                </div>
              </div>
            </div>

            <div class="slide">
              <div class="testi-image">
                <i class="i-circled icon-user"></i>
              </div>
              <div class="testi-content">
                <p>I had some work done on my pool. Well, that is an understatement. I had my pool redone in March of '06. I went the typical route; I had 3 estimates, chose the least expensive and signed the contract. It wasn't long before I began to feel uncomfortable (always trust your instincts). To make a long story short, I cancelled the contract and went with Exotic Pools. Not the least expensive, but they did go out of the way to make sure everything was just as I wanted it. I was out of town most of the time and they kept in touch, letting me know how things were going. The pool is beautiful and I want to thank you for making things so easy, and for keeping me informed. It is not often you run into a company where customer service and integrity are a priority! Thank You!</p>
                <div class="testi-meta">
                  <span> Betsy D.</span>
                </div>
              </div>
            </div>

            <div class="slide">
              <div class="testi-image">
                <i class="i-circled icon-user"></i>
              </div>
              <div class="testi-content">
                <p>Just wanted to thank you for such a wonderful pool. It turned out just like we wanted and we’re enjoying every minute we’re in it.</p>
                <div class="testi-meta">
                  <span> Joy &amp; Al H.</span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>
