---
title: Blog | Desert Tropics Custom Pools
subtitle: From our blog
active: Blog
permalink: /blog/
layout: page-template
comments: false
nav_background_image: /assets/images/slider/swiper/3.jpg
img_position: center -620px
description: Desert Tropics Custom Pools, Arizona
---

{% include page-title.html %}

<section id="content" class="blog-page">
  <div class="content-wrap">
    <div class="container clearfix">

      <!-- Post Content-->
      <div class="postcontent nobottommargin clearfix">

        <!-- Posts-->
        <div id="posts" class="small-thumbs">
					<ul style="list-style-type: none;">
						{% for post in site.posts limit:10 %}
						<li>
							<div class="entry clearfix">
								<div class="entry-image">
									<a href="{{ site.baseurl }}{{ post.url }}" data-lightbox="image"><img class="image_fade" src="{{ site.baseurl }}{{ post.blog_image_path }}" alt="Standard Post with Image"></a>
								</div>
								<div class="entry-c">
									<div class="entry-title">
										<h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
									</div>
									<ul class="entry-meta clearfix">
										<li><i class="icon-calendar3"></i> Posted on {{ post.date | date: "%b %-d, %Y" }}</li>
									</ul>
									<div class="entry-content">
										<p>{{ post.content | strip_html | truncatewords:36 }}</p>
										<a href="{{ site.baseurl }}{{ post.url }}"class="more-link">Read More</a>
									</div>
								</div>
							</div>
						</li>
						{% endfor %}
					</ul>
				</div><!-- #posts end -->

        <!-- Pagination-->
        <ul class="pager nomargin">
          <li class="previous"><a href="#">&larr; Older</a></li>
          <li class="next"><a href="#">Newer &rarr;</a></li>
        </ul><!-- .pager end -->

      </div><!-- .postcontent end -->

      <!-- Sidebar-->
      <div class="sidebar nobottommargin col_last clearfix">
        <div class="sidebar-widgets-wrap">

          <div class="widget clearfix">
            <div class="tabs nobottommargin clearfix" id="sidebar-tabs">

						  <ul class="tab-nav clearfix">
                <li><a href="#tabs-1">Popular</a></li>
                <li><a href="#tabs-2">Recent</a></li>
              </ul>

              <div class="tab-container">
                <div class="tab-content clearfix" id="tabs-1">
                  <div id="popular-post-list-sidebar">

                    <div class="spost clearfix">
                      <div class="entry-image">
                        <a href="#" class="nobg"><img class="img-circle" src="{{ site.baseurl }}/assets/images/magazine/small/3.jpg" alt=""></a>
                      </div>
                      <div class="entry-c">
                        <div class="entry-title">
                          <h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
                        </div>
                      </div>
                    </div>

                    <div class="spost clearfix">
                      <div class="entry-image">
                        <a href="#" class="nobg"><img class="img-circle" src="{{ site.baseurl }}/assets/images/magazine/small/2.jpg" alt=""></a>
                      </div>
                      <div class="entry-c">
                        <div class="entry-title">
                          <h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
                        </div>
                      </div>
                    </div>

                    <div class="spost clearfix">
                      <div class="entry-image">
                        <a href="#" class="nobg"><img class="img-circle" src="{{ site.baseurl }}/assets/images/magazine/small/1.jpg" alt=""></a>
                      </div>
                      <div class="entry-c">
                        <div class="entry-title">
                          <h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="tab-content clearfix" id="tabs-2">
                  <div id="recent-post-list-sidebar">

                    <div class="spost clearfix">
                      <div class="entry-image">
                        <a href="#" class="nobg"><img class="img-circle" src="{{ site.baseurl }}/assets/images/magazine/small/1.jpg" alt=""></a>
                      </div>
                      <div class="entry-c">
                        <div class="entry-title">
                          <h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
                        </div>
                        <ul class="entry-meta">
                          <li>10th July 2014</li>
                        </ul>
                      </div>
                    </div>

                    <div class="spost clearfix">
                      <div class="entry-image">
                        <a href="#" class="nobg"><img class="img-circle" src="{{ site.baseurl }}/assets/images/magazine/small/2.jpg" alt=""></a>
                      </div>
                      <div class="entry-c">
                        <div class="entry-title">
                          <h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
                        </div>
                        <ul class="entry-meta">
                          <li>10th July 2014</li>
                        </ul>
                      </div>
                    </div>

                    <div class="spost clearfix">
                      <div class="entry-image">
                        <a href="#" class="nobg"><img class="img-circle" src="{{ site.baseurl }}/assets/images/magazine/small/3.jpg" alt=""></a>
                      </div>
                      <div class="entry-c">
                        <div class="entry-title">
                          <h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
                        </div>
                        <ul class="entry-meta">
                          <li>10th July 2014</li>
                        </ul>
                      </div>
                    </div>

                  </div>
                </div>

              </div>

            </div>

          </div>

          <div class="widget clearfix">

            <h4>Gallery</h4>
            <div id="oc-portfolio-sidebar" class="owl-carousel carousel-widget" data-items="1" data-margin="10" data-loop="true" data-nav="false" data-autoplay="5000">

              <div class="oc-item">
                <div class="iportfolio">
                  <div class="portfolio-image">
                    <a href="#">
                      <img src="{{ site.baseurl }}/assets/images/desert-tropics-images/home-gallery-small/desert-tropics-pools-gallery-1.jpg" alt="Mac Sunglasses">
                    </a>
                    <div class="portfolio-overlay">
                      <a href="{{ site.baseurl }}/assets/images/desert-tropics-images/home-gallery-large/desert-tropics-pools-gallery-1.jpg" class="center-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                    </div>
                  </div>
                  <div class="portfolio-desc center nobottompadding">
                    <h3><a href="/gallery">Photo Title</a></h3>
                    <span><a href="#">Category 1</a>, <a href="#">Category 2</a></span>
                  </div>
                </div>
              </div>

              <div class="oc-item">
                <div class="iportfolio">
                  <div class="portfolio-image">
                    <a href="portfolio-single.html">
                      <img src="{{ site.baseurl }}/assets/images/desert-tropics-images/home-gallery-small/desert-tropics-pools-gallery-2.jpg" alt="Open Imagination">
                    </a>
                    <div class="portfolio-overlay">
                      <a href="{{ site.baseurl }}/assets/images/desert-tropics-images/home-gallery-large/desert-tropics-pools-gallery-2.jpg" class="center-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                    </div>
                  </div>
                  <div class="portfolio-desc center nobottompadding">
                    <h3><a href="/gallery">Photo Title</a></h3>
                    <span><a href="#">Category 1</a>, <a href="#">Category 2</a></span>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div><!-- .sidebar end -->
    </div>
  </div>
</section>
