---
title: Photo Gallery | Desert Tropics Custom Pools
subtitle: View some of our recently built pools
active: Photo Gallery
permalink: /photo-gallery/
layout: page-template
comments: falses
nav_background_image: /assets/images/slider/swiper/4.jpg
img_position: center -200px
description: Desert Tropics Custom Pools, Arizona
---

{% include page-title.html %}

<section id="content" class="gallery-page">
  <div class="content-wrap">
    <div class="container clearfix">

      <!-- Portfolio Filter -->
      <ul class="portfolio-filter clearfix" data-container="#portfolio">
        <li class="activeFilter"><a href="#" data-filter="*">Show All</a></li>
        <li><a href="#" data-filter=".dt-custom">Custom Pools</a></li>
        <li><a href="#" data-filter=".dt-geometric">Geometric Pools</a></li>
        <li><a href="#" data-filter=".dt-freeform">Freeform Pools</a></li>
        <li><a href="#" data-filter=".dt-water-fire">Fire/Water Features</a></li>
        <li><a href="#" data-filter=".dt-kitchens">Outdoor Kitchens</a></li>
        <li><a href="#" data-filter=".dt-landscaping">Landscape</a></li>
        <li><a href="#" data-filter=".dt-structures">Structures</a></li>
        <li><a href="#" data-filter=".dt-lazy-river">Lazy River</a></li>
      </ul>

      <div class="portfolio-shuffle" data-container="#portfolio">
        <i class="icon-random"></i>
      </div>

      <div class="clear"></div>

      <!-- Gallery Items -->
      <div id="portfolio" class="portfolio grid-container clearfix">
        {% for gallery in site.data.gallery limit: 16 %}
          <article class="portfolio-item {{ gallery.data_filter }}">
            <div class="portfolio-image">
              <img src="{{ site.baseurl }}{{ gallery.image_path }}" alt="">
              <div class="portfolio-overlay">
                <a href="{{ site.baseurl }}{{ gallery.image_path }}" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
              </div>
            </div>
            <div class="portfolio-desc">
              <span><a href="#">{{ gallery.category [0] }}</a> <a href="#">{{ gallery.category [1] }} <a href="#">{{ gallery.category [2] }}</a> <a href="#">{{ gallery.category [3] }}</a> <a href="#">{{ gallery.category [4] }}</a> <a href="#">{{ gallery.category [5] }}</a> <a href="#">{{ gallery.category [6] }}</a></span>
            </div>
          </article>
        {% endfor %}
      </div>

    </div>
  </div>
</section>
