<div class="fancy-title title-border topmargin">
  <h4>Some of our affiliates:</h4>
</div>
<div id="oc-clients-full" class="owl-carousel image-carousel carousel-widget" data-margin="30" data-nav="false" data-loop="true" data-autoplay="3000" data-pagi="false" data-items-xxs="2" data-items-xs="3" data-items-sm="4" data-items-md="4" data-items-lg="4" style="padding-bottom:40px;">
  <a href="#"><img src="{{ site.baseurl }}/assets/images/affiliates/1.png" alt="Desert Tropics Affiliate - Client"></a>
  <a href="#"><img src="{{ site.baseurl }}/assets/images/affiliates/2.png" alt="Desert Tropics Affiliate - Client"></a>
  <a href="#"><img src="{{ site.baseurl }}/assets/images/affiliates/3.png" alt="Desert Tropics Affiliate - Client"></a>
  <a href="#"><img src="{{ site.baseurl }}/assets/images/affiliates/4.png" alt="Desert Tropics Affiliate - Client"></a>
  <a href="#"><img src="{{ site.baseurl }}/assets/images/affiliates/5.png" alt="Desert Tropics Affiliate - Client"></a>
</div>
