<div id="copyrights">
  <div class="container clearfix">
    <div class="col_half">
      Copyright &copy; 2017 {{ site.desc }}, All Rights Reserved.
    </div>
    <div class="col_half col_last tright">
      <div class="fright clearfix">
        <div class="copyrights-menu copyright-links nobottommargin">
          {% for nav in site.data.footer-nav %}
          <a href="{{ site.baseurl }}{{ nav.href }}">{{ nav.title }} </a> /
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
