<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="G2DesignLab" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="robots" content="noodp,noydir"/>
  <meta name="description" content="{{ site.description }}">
  <!-- <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}" /> -->
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Desert Tropics Custom Pools" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:url" content="" />
  <meta property="og:site_name" content="Desert Tropics Custom Pools" />

  <link rel="alternate" type="application/rss+xml" title="Desert Tropics &raquo; Feed" href="#" />
  <link rel="alternate" type="application/rss+xml" title="Desert Tropics &raquo; Comments Feed" href="#" />

	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{{ site.baseurl }}/assets/images/dt-icons-devices/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" type="text/css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/extras/swiper.css" type="text/css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/extras/dark.css" type="text/css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/extras/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/extras/animate.css" type="text/css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/extras/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/extras/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- Document Title
	============================================= -->
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

</head>
