<section id="slider" class="slider-parallax swiper_wrapper full-screen clearfix">
	<div class="slider-parallax-inner">
		<div class="swiper-container swiper-parent">
			<div class="swiper-wrapper">
				<div class="swiper-slide dark" style="background-image: url('{{ site.baseurl }}/assets/images/slider/swiper/1.jpg');">
					<div class="container clearfix">
						<div class="slider-caption slider-caption-center">
							<h2 data-caption-animate="fadeInUp">Providing more than just Beautiful Pools</h2>
							<p data-caption-animate="fadeInUp" data-caption-delay="200">Custom Swimming Pool Design and Building for the Discriminating Homeowner. Quality worth the Difference.</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide dark">
					<div class="container clearfix">
						<div class="slider-caption slider-caption-center">
							<h2 data-caption-animate="fadeInUp">Beautifully Designed</h2>
							<p data-caption-animate="fadeInUp" data-caption-delay="200">We appreciate the opportunity to create an environment that will bring you pleasure and enhance the value of your home for years to come.</p>
						</div>
					</div>
					<div class="video-wrap">
						<video poster="{{ site.baseurl }}/assets/images/videos/pool.jpg" preload="auto" loop autoplay muted>
							<source src='{{ site.baseurl }}/assets/images/videos/pool.mp4' type='video/mp4' />
						</video>
						<div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
					</div>
				</div>
				<div class="swiper-slide" style="background-image: url('{{ site.baseurl }}/assets/images/slider/swiper/3.jpg'); background-position: center top;">
					<div class="container clearfix">
						<div class="slider-caption">
							<h2 data-caption-animate="fadeInUp">Our personal approach to pool building</h2>
							<p data-caption-animate="fadeInUp" data-caption-delay="200">We ensure continuity throughout the process, allowing you to relax in knowing your project will turn out exactly as you had envisioned.</p>
						</div>
					</div>
				</div>
			</div>
			<div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
			<div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
			<div id="slide-number"><div id="slide-number-current"></div><span>/</span><div id="slide-number-total"></div></div>
		</div>
		<div id="pool"></div>
	</div>
</section>
