<nav id="primary-menu">
  <ul>
    <li class="current"><a href="/"><div>Home</div></a></li>
    <li><a href="/about"><div>About Us</div></a></li>
    <li><a href="#"><div>Gallery</div></a></li>
    <li><a href="shop.html"><div>Customer Pages</div></a>
      <ul>
        <li><a href="shop.html"><div>Products/Equipment/Options</div></a></li>
        <li><a href="shop-3.html"><div>Financing</div></a></li>
        <li><a href="shop-2.html"><div>Pool care</div></a></li>
        <li><a href="shop-1.html"><div>Equipment manuals</div></a></li>
      </ul>
    </li>
    <li><a href="#"><div>Blog</div></a></li>
    <li><a href="/contact"><div>Contact Us</div></a></li>
  </ul>
</nav>
