<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.js"></script>
<script>
$(function(){

  var $container = $('#portfolio'),
      $filterLinks = $('#filters a');

  $container.isotope({
    itemSelector: '.portfolio-item',
    filter: '.dt-geometric'
  });

  $filterLinks.click(function(){
    var $this = $(this);

    // don't proceed if already selected
    if ( $this.hasClass('selected') ) {
      return;
    }

    $filterLinks.filter('.selected').removeClass('selected');
    $this.addClass('selected');

    // get selector from data-filter attribute
    selector = $this.data('filter');

    $container.isotope({
      filter: selector
    });

  });

});

</script>

<script type="text/javascript" src="{{ site.baseurl }}/assets/js/plugins.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/functions.js"></script>

<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyBWl0AqwukDpuIewdRgV2m0V15P-He1C3k&callback=initMap"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.gmap.js"></script>

<script type="text/javascript">
  $('#google-map').gMap({
    address: 'Peoria, Arizona',
    maptype: 'ROADMAP',
    zoom: 12,
    doubleclickzoom: false,
    controls: {
      panControl: true,
      zoomControl: true,
      mapTypeControl: true,
      scaleControl: false,
      streetViewControl: false,
      overviewMapControl: false
    }
  });
</script>

<script>
$(document).ready(function(){
// make some waves.
var ocean = document.getElementById("pool"),
  waveWidth = 10,
  waveCount = Math.floor(window.innerWidth/waveWidth),
  docFrag = document.createDocumentFragment();

  for(var i = 0; i < waveCount; i++){
     var wave = document.createElement("div");
     wave.className += " wave";
     docFrag.appendChild(wave);
     wave.style.left = i * waveWidth + "px";
     wave.style.webkitAnimationDelay = (i/100) + "s";

     var wave_middle = document.createElement("div");
     wave_middle.className += " wave_middle";
     docFrag.appendChild(wave_middle);
     wave_middle.style.left = i * waveWidth + "px";
     wave_middle.style.webkitAnimationDelay = (i/91) + "s";

     var wave_bottom = document.createElement("div");
     wave_bottom.className += " wave_bottom";
     docFrag.appendChild(wave_bottom);
     wave_bottom.style.left = i * waveWidth + "px";
     wave_bottom.style.webkitAnimationDelay = (i/97) + "s";
  }
  pool.appendChild(docFrag);

});
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="//www.googletagmanager.com/gtag/js?id=UA-118350007-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-118350007-1');
</script>
