---
---
@charset "utf-8";
/*-----------------------------------------------------------------------------------

Desert Tropics Custom Pools - Styles

-----------------------------------------------------------------------------------*/

// Bootstrap
@import "bootstrap.scss";

// Initialize
@import "desert-tropics-sass/variables.scss";
@import "desert-tropics-sass/mixins.scss";


// Core CSS
@import "desert-tropics-sass/typography.scss";
@import "desert-tropics-sass/helpers.scss";
@import "desert-tropics-sass/layouts.scss";


// Content Blocks
@import "desert-tropics-sass/topbar.scss";
@import "desert-tropics-sass/header.scss";
@import "desert-tropics-sass/sliders.scss";
@import "desert-tropics-sass/pagetitle.scss";
@import "desert-tropics-sass/content.scss";
@import "desert-tropics-sass/portfolio.scss";
@import "desert-tropics-sass/blog.scss";
@import "desert-tropics-sass/shop.scss";
@import "desert-tropics-sass/events.scss";


// Shortcodes
@import "desert-tropics-sass/shortcodes.scss";


// Footer
@import "desert-tropics-sass/footer.scss";


// Widgets
@import "desert-tropics-sass/widgets.scss";


// Extras
@import "desert-tropics-sass/extras.scss";

// Additional Css
@import "extra/swiper.css";
@import "extra/dark.css";
@import "extra/font-icons.css";
@import "extra/animate.css";
@import "extra/magnific-popup.css";
@import "extra/responsive.css";

// Overides

#header.transparent-header.floating-header .container {
  border-radius: 60px;
}
#logo img {
  height: 90px;
  padding-top: 10px;
}

.button:hover {
  background-color: #8BD1A6;
}


#ocean {z-index: 100;}
.wave {
  bottom: -50px;
  background: #7ecef4;
  opacity: 0.5;
  display: inline-block;
  height: 35%;
  width: 10px;
  position: absolute;
  z-index: 1 !important;
  animation-name: dostuff;
  animation-duration: 2.74159s;
  animation-iteration-count: infinite;
  transition-timing-function: ease-in-out;
}
.wave_middle {
  bottom: -50px;
  background: #0068b7;
  opacity: 0.3;
  display: inline-block;
  height: 27%;
  width: 10px;
  position: absolute;
  z-index: 1 !important;
  animation-name: dostuff_mid;
  animation-duration: 3.42s;
  animation-iteration-count: infinite;
  transition-timing-function: ease-in-out;
}
.wave_bottom {
  bottom: -50px;
  background: #002e73;
  opacity: 0.8;
  display: inline-block;
  height: 17%;
  width: 10px;
  position: absolute;
  z-index: 1 !important;
  animation-name: dostuff_bot;
  animation-duration: 2.54s;
  animation-iteration-count: infinite;
  transition-timing-function: ease-in-out;
}

/* amplitude animation*/
@keyframes dostuff {
  0% {height: 35%;}
  50% {height: 48%;}
  100% {height: 35%;}
}
@keyframes dostuff_mid {
  0% {height: 27%;}
  50% {height: 36%;}
  100% {height: 27%;}
}
@keyframes dostuff_bot {
  0% {height: 17%;}
  50% {height: 23%;}
  100% {height: 17%;}
}
