{% include head.html %}

<body class="stretched">
	<div id="wrapper" class="clearfix">

    {% include page-header.html %}

    <!-- Content -->
    <section id="content" class="post-page">
      <div class="content-wrap">
        <div class="container clearfix">
          <div class="single-post nobottommargin noborder">

            <!-- Single Post -->
            <div class="entry clearfix">

              <!-- Entry Title -->
              <div class="entry-title">
                <h2>{{ page.title }}</h2>
              </div><!-- .entry-title end -->

              <!-- Entry Meta -->
              <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> {{ page.date | date: "%b %-d, %Y" }}</li>
                <li><a href="#"><i class="icon-user"></i> Desert Tropics</a></li>
              </ul><!-- .entry-meta end -->

              <!-- Entry Image -->
              <div class="entry-image bottommargin">
                <a href="#"><img src="{{ site.baseurl }}{{ page.blog_image_path }}" alt="{{ page.title }}"></a>
              </div><!-- .entry-image end -->

              <!-- Entry Content -->
              <div class="entry-content notopmargin">

                {{ content }}

              </div>
            </div><!-- .entry end -->

            <!-- <h4>Related Posts:</h4> -->

            <!-- <div class="related-posts clearfix">

              <div class="col_half nobottommargin">

                <div class="mpost clearfix">
                  <div class="entry-image">
                    <a href="#"><img src="images/blog/small/10.jpg" alt="Blog Single"></a>
                  </div>
                  <div class="entry-c">
                    <div class="entry-title">
                      <h4><a href="#">This is an Image Post</a></h4>
                    </div>
                    <ul class="entry-meta clearfix">
                      <li><i class="icon-calendar3"></i> 10th July 2014</li>
                      <li><a href="#"><i class="icon-comments"></i> 12</a></li>
                    </ul>
                    <div class="entry-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia nisi perferendis.</div>
                  </div>
                </div>

                <div class="mpost clearfix">
                  <div class="entry-image">
                    <a href="#"><img src="images/blog/small/20.jpg" alt="Blog Single"></a>
                  </div>
                  <div class="entry-c">
                    <div class="entry-title">
                      <h4><a href="#">This is a Video Post</a></h4>
                    </div>
                    <ul class="entry-meta clearfix">
                      <li><i class="icon-calendar3"></i> 24th July 2014</li>
                      <li><a href="#"><i class="icon-comments"></i> 16</a></li>
                    </ul>
                    <div class="entry-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia nisi perferendis.</div>
                  </div>
                </div>

              </div>

              <div class="col_half nobottommargin col_last">

                <div class="mpost clearfix">
                  <div class="entry-image">
                    <a href="#"><img src="images/blog/small/21.jpg" alt="Blog Single"></a>
                  </div>
                  <div class="entry-c">
                    <div class="entry-title">
                      <h4><a href="#">This is a Gallery Post</a></h4>
                    </div>
                    <ul class="entry-meta clearfix">
                      <li><i class="icon-calendar3"></i> 8th Aug 2014</li>
                      <li><a href="#"><i class="icon-comments"></i> 8</a></li>
                    </ul>
                    <div class="entry-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia nisi perferendis.</div>
                  </div>
                </div>

                <div class="mpost clearfix">
                  <div class="entry-image">
                    <a href="#"><img src="images/blog/small/22.jpg" alt="Blog Single"></a>
                  </div>
                  <div class="entry-c">
                    <div class="entry-title">
                      <h4><a href="#">This is an Audio Post</a></h4>
                    </div>
                    <ul class="entry-meta clearfix">
                      <li><i class="icon-calendar3"></i> 22nd Aug 2014</li>
                      <li><a href="#"><i class="icon-comments"></i> 21</a></li>
                    </ul>
                    <div class="entry-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia nisi perferendis.</div>
                  </div>
                </div>

              </div>

            </div> -->

          </div>

        </div>

      </div>

    </section><!-- #content end -->

    {% include footer.html %}
  </div>

  <div id="gotoTop" class="icon-angle-up"></div>

  {% include scripts.html %}
</body>
</html>
